header {
  height: 6vh;
}

.brand {
  font-size: 18px;
}

.cart-badge {
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 4px;
  background: red;
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn {
  border: none;
}