@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: "Open Sans", sans-serif;
}

/***********************/
@import url("https://fonts.googleapis.com/css?family=Courgette");
body {
  padding-top: 60px;
  .subscribe {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 5000;
    border-radius: 4px;
    border: 1px solid #ffffff;
    a {
      display: inline-block;
      border-radius: inherit;
      padding: 10px 20px;
      background-color: #ff0000;
      color: #ffffff;
      text-decoration: none;
      font-family: "Courgette", cursive;
      &:hover {
        background-color: darken(#ff0000, 10%);
      }
      span {
        margin-left: 2px;
      }
    }
  }
}
/********************/

._bgPink {
  background-color: #f71e68;
}

._textPink {
  color: #f71e68;
}

._before {
  bottom: 100%;
  right: 0;
}

._cartBtn {
  right: 1.25rem;
}

._offerRibbon {
  top: 0.625rem;
  border-color: #f71e68;
}
._offerRibbon::before,
._offerRibbon::after {
  content: "";
  display: inline-flex;
  position: absolute;
  height: 0;
  width: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -1rem;
  border: 1rem solid transparent;
}
._offerRibbon::before {
  border-top-color: inherit;
}
._offerRibbon::after {
  border-bottom-color: inherit;
}

._addtoFav {
  cursor: pointer;
}
._addtoFav input[type="checkbox"]:checked ~ .active {
  display: inline-block !important;
}
._addtoFav input[type="checkbox"]:checked ~ .inactive {
  display: none;
}
