<div class="card border-0 shadow-lg _offer h-100">
  <div class="card-heading">
    <img
      #productImage
      [src]="product.imagePath"
      [alt]="product.name"
      (error)="productImage.src = 'assets/images/no-image.jpg'"
      class="card-img-top border-bottom"
    />
    <div class="d-flex justify-content-between px-3 pt-3">
      <h4 class="card-title text-truncate font-weight-bold">
        {{ product.name }}
      </h4>
    </div>

    <div class="card-subtitle text-muted text-truncate my-2 px-3">
      {{ product.description }}
    </div>
  </div>
  <div class="card-body position-relative">
    <div
      class="card-text d-flex justify-content-between align-items-center mt-4"
    >
      <div class="input-group w-50">
        <button
          class="btn btn-secondary"
          type="button"
          (click)="decreaseQuantity()"
        >
          -
        </button>
        <input
          type="number"
          class="form-control text-center"
          placeholder="1"
          min="1"
          [(ngModel)]="product.quantity"
        />
        <button
          class="btn btn-secondary"
          type="button"
          (click)="increaseQuantity()"
        >
          +
        </button>
      </div>
      <span class="_priceSection position-relative">
        @if (product.discount) {
        <div class="_now h5 _textPink font-weight-bolder">
          {{ product.price | number : "1.2-2" }} TK
        </div>
        <del class="_before h6 position-absolute text-black-50"
          >{{ product.price / product.discount | number : "1.2-2" }} TK</del
        >
        } @else {
        <div>{{ product.price | number : "1.2-2" }} TK</div>
        }
      </span>
    </div>
    <div class="cart-btn-group mt-3">
      <button
        class="btn btn-primary p-3 text-white text-uppercase d-block w-100 text-center"
        (click)="addToCart()"
      >
        Add to cart
      </button>
      <button
        class="btn btn-danger p-3 text-white text-uppercase d-block w-100 text-center mt-3"
      >
        Remove From Cart
      </button>
    </div>
  </div>
</div>
