.cart {
  height: 94vh;
  width: 400px;
  position: fixed;
  top: 6vh;
  right: 0;
  background: rgb(248, 249, 250);
  box-shadow: -2px 0 5px rgba($color: #000000, $alpha: 0.1);
  transition: 0.3s;
  transform: translateX(100%);

  &.open{
    transform: translateX(0);
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }
}