@import "themes/reset";
@import "ngx-toastr/toastr";
body {
  font-family: "Open Sans", sans-serif;
}

// hiding number input arrow
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}