.nav-menu {
  .menu-item {
    a {
      color: #fff;
      display: block;
      text-decoration: none;
      padding: 0.75rem 1rem;
      transition: 0.3s;
      &:hover {
        background: rgba($color: #fff, $alpha: 0.8);
        color: #0d6efd;
      }
      &.active {
        background: #fff;
        color: #0d6efd;
      }
    }

    accordion-group {
      ::ng-deep {
        .card.nav-toggler {
          background: #0d6efd;
          text-decoration: none;
          transition: 0.3s;
          border: none;
          border-radius: unset;
          padding: 0;
          height: auto;

          .accordion-toggle {
            display: block;
            width: 100%;
            border: none;
            text-decoration: none;
            line-height: unset;
            text-align: left;
            color: #fff;
            padding: 0.75rem 1rem;
            transition: 0.3s;
            &:hover {
              background: rgba($color: #fff, $alpha: 0.8);
              color: #0d6efd;
              border-radius: unset;
            }

            .toggle-acc {
              background: none;
              border: none;
              &.active {
                svg {
                  rotate: 180deg;
                  background: none;
                  border: none;
                }
              }
            }
          }

          .card-header {
            background-color: unset;
            border-bottom: unset;
            padding: unset;
            position: relative;
          }

          .card-body {
            padding-block: 0;
          }
        }
      }
    }
  }
}
