.nav-menu {
  .menu-item {
    a {
      color: #fff;
      display: block;
      text-decoration: none;
      padding: 0.75rem 1rem;
      transition: 0.3s;
      &:hover {
        background: rgba($color: #fff, $alpha: 0.8);
        color: #0d6efd;
      }
      &.active {
        background: #fff;
        color: #0d6efd;
      }
    }
  }
}
